.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
  .title {
    margin-bottom: 0;
    margin-left: 5px;
  }
  .userIcon{
    font-size: 20px;
  }
  .userInfoArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      margin-left: 8px;
    }
  }
  .logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}