$small: 414px;

.dateSliderComponent {
  background: #f7f7f7;
  padding: 24px;
  border-radius: 3px;
  .titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    color: #90A566;

    p, h3 {
      margin: 0
    }
  }
}

@media screen and (max-width: $small) {
  .dateSliderComponent {
    padding: 8px;
    .titleWrapper {
      margin-bottom: 8px;
    }     
  }
}