$small: 414px;

.dateSliderComponent {
  .dateContentWrapper {
    h3 {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    .mealWrapper {
      width: 70%;
    }

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;

      p, h3 {
        margin: 0
      }
    }
  }
}

@media screen and (max-width: $small) {
  .mealWrapper {
    width: 100% !important;
  }
}