.container {
    background-color: #5D3EBC;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .login-form-wrapper {
        background-color: #ffffff;
        width: 480px;
        padding: 2rem 3rem;
        margin-top: 1rem;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            text-align: center;
            margin-bottom: 2rem;
            color: #5D3EBC;
        }

        form {
            display: flex;
            flex-direction: column;
        }
        .btn-register {
            height: 40px;
            width: 100%;
            border-radius: 4px;
            background-color: #5D3EBC;
            color: #FFF;
            border: none;
            cursor: pointer;
            opacity: 1;
            transition: opacity ease-in 0.1s;
            user-select: none;
        }
        .txt-login {
            margin-top: 16px;
            text-align: right;
            font-size: 14px;
            color: #5D3EBC;
            font-weight: 600;
            a {
                text-decoration: underline;
            }
        }
    }
}