$small: 414px;

.mealComponent {
  margin-bottom: 1rem;
  border: 1px solid lightgray;
  padding: 1rem 2rem;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .mealName {  
    margin-bottom: 0;
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .addMealWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .addMealArea {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
      width: 50%;

      input {
        margin-right: 8px;
      }
    }
  }  
}

@media screen and (max-width: $small) {
  .mealComponent {
    padding: 1rem !important;
    .addMealArea {
      width: 100% !important;      
    }
    .addMealWrapper {
      ul {
        padding-left: 24px !important;
      }
    }
  }
  
}